a:link{
    text-decoration: none;
}

.black{
    color:black;
}

.black:hover{
    color:black;
}

ul { list-style-type:none; }

.opacity{
    opacity: 0.5;
    border-style: solid;
}

.page{
    width: 99.4%;
    height: 90vh;
    background-image: url(./components/Image/back.jpg);
}
